.mic-button {
    position: fixed;
    bottom: 30px;
    left: 30px;
    background-color: #ccc;
    padding: 15px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
    width: 60px;  /* Kích thước button */
    height: 60px;
    font-size: 24px; /* Kích thước biểu tượng mic */
}

.mic-button.active {
    background-color: red;
    color: white;
}
